<!--The content below is only a placeholder and can be replaced.-->
<div class="container head-title">
        <h4 class="display-4 text-center">Welcome to Shoe World</h4>
        
</div>

<router-outlet></router-outlet>